# Silicon Labs EFR32MG24 (Mighty Gecko) MCU line

# Copyright (c) 2020 TriaGnoSys GmbH
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_EFR32FG28
	bool
	select SOC_FAMILY_SILABS_S2
	help
	  EFR32FG28 Series MCU

config SOC_PART_NUMBER_EFR32FG28B312F1024IM68
	bool
	select SOC_SERIES_EFR32FG28

config SOC_PART_NUMBER_EFR32FG28A110F1024GM48
	bool
	select SOC_SERIES_EFR32FG28

config SOC_SERIES
	default "efr32fg28" if SOC_SERIES_EFR32FG28

config SOC
	default "efr32fg28b312f1024im68" if SOC_PART_NUMBER_EFR32FG28B312F1024IM68 
	#default "efr32fg28b320f1024im48" if SOC_PART_NUMBER_EFR32FG28A110F1024GM48

config SOC_PART_NUMBER
	default "EFR32FG28B312F1024IM68" if SOC_PART_NUMBER_EFR32FG28B312F1024IM68
	#default "EFR32FG28B320F1024IM48" if SOC_PART_NUMBER_EFR32FG28B320F1024IM48
