# EFR32XG24 DK2601B board

# Copyright (c) 2021, Sateesh Kotapati
# SPDX-License-Identifier: Apache-2.0

config BOARD_FG2X
	select SOC_PART_NUMBER_EFR32FG28B312F1024IM68 
	#select SOC_PART_NUMBER_EFR32ZG28B322F1024IM48
	#select SOC_PART_NUMBER_EFR32MG24B220F1536IM48
