# Silicon Labs EFR32MG21 (Mighty Gecko) MCU line

# Copyright (c) 2020 TriaGnoSys GmbH
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_EFR32ZG23
	bool
	select SOC_FAMILY_SILABS_S2
	help
	  EFR32FG23 Series MCU

config SOC_PART_NUMBER_EFR32ZG23B020F512IM48
	bool
	select SOC_SERIES_EFR32ZG23

config SOC_PART_NUMBER_EFR32ZG23B020F512GM48
	bool
	select SOC_SERIES_EFR32ZG23

config SOC_SERIES
	default "efr32zg23" if SOC_SERIES_EFR32ZG23

config SOC   
	#default "efr32fg23a010f512im48" if SOC_PART_NUMBER_EFR32FG23A010F512IM48
	default "efr32zg23b020f512im48" if SOC_PART_NUMBER_EFR32ZG23B020F512IM48

config SOC_PART_NUMBER
	#default "EFR32FG23A010F512IM48" if SOC_PART_NUMBER_EFR32FG23A010F512IM48
	default "EFR32ZG23B020F512IM48" if SOC_PART_NUMBER_EFR32ZG23B020F512IM48
